<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.devyok.logger.sample">

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
                  android:exported="true"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:theme="@style/ContentOverlay"
                  android:clearTaskOnLaunch="false"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>